In [1]:
import pandas as pd
import numpy as np
hpsa = pd.read_csv("1.csv")

In [2]:
hpsa.head()

,ZIP,City/Location Name,STATE,2010 Census Population,FIPS Code,StCtyCode,County Name,Zip Code Designation
0,99546,Adak,AK,* 525,2016,2016,ALEUTIANS WEST,Low Income Area/HPSA
1,99551,Akiachak,AK,* 104,2050,2050,BETHEL,Low Income Area/HPSA
2,99553,Akutan,AK,"* 1,027",2013,2013,ALEUTIANS EAST,Low Income Area/HPSA
3,99554,Alakanuk,AK,"* 1,439",2270,2270,WADE HAMPTON,Low Income Area/HPSA
4,99555,Aleknagik,AK,* 219,2070,2070,DILLINGHAM,Low Income Area/HPSA

In [15]:
#df['E'] = df['B'].str.replace('\W', '')

#hpsa=hpsa.replace('\*','',regex=True).astype(float)

#hpsa['2010 Census Population'] = hpsa['2010 Census Population'].map(lambda x: x.lstrip('*')

hpsa['2010 Census Population']=hpsa['2010 Census Population'].replace('\*','',regex=True)

hpsa.head()

,ZIP,City/Location Name,STATE,2010 Census Population,FIPS Code,StCtyCode,County Name,Zip Code Designation
0,99546,Adak,AK,525,2016,2016,ALEUTIANS WEST,Low Income Area/HPSA
1,99551,Akiachak,AK,104,2050,2050,BETHEL,Low Income Area/HPSA
2,99553,Akutan,AK,"1,027",2013,2013,ALEUTIANS EAST,Low Income Area/HPSA
3,99554,Alakanuk,AK,"1,439",2270,2270,WADE HAMPTON,Low Income Area/HPSA
4,99555,Aleknagik,AK,219,2070,2070,DILLINGHAM,Low Income Area/HPSA

In [21]:
hpsa.to_csv('hpsa.csv')